$top-nav-height: 60px;

nav.top-nav {
  height: $top-nav-height;
  ul {
    li {
      height: $top-nav-height;
      line-height: $top-nav-height;
      float: left;

      a{
        display: inline-block;
        height: $top-nav-height;
      }
    }
  }
}
